<ion-header >
  <ion-toolbar>
    <ion-title>
      Proyecto de lectura
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
<ion-item>
  <ion-input [(ngModel)]="downloadUrl"></ion-input>
</ion-item>
<ion-button (click)="downloadFile()" [disabled]="downloadUrl == ''" expand="full">
  <ion-icon name="download" slot="start"></ion-icon>
  descargar de url
</ion-button>

<ion-row>
  <ion-col size="6">
    <ion-button (click)="downloadFile(pdfUrl)"  expand="full">
        PDF
    </ion-button>
  </ion-col>
  <ion-col size="6">
    <ion-button (click)="downloadFile(pngUrl)"  expand="full">
        PNG
    </ion-button>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col size="12">
    <ion-button routerLink="/link"  expand="full">
        descargado
    </ion-button>
  </ion-col>
</ion-row>
<ion-row>
 <ion-img [src]="pngUrl"></ion-img>
</ion-row>
</ion-content>

